.nav{
	height: 1rem;
}
.nav>ul{
	display: flex;
	height: 100%;
}
.nav>ul li{
	flex-grow: 1;
	flex-basis: 0;
}
.nav>ul>li>a{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nav>ul>li>a>i{
	font-size: 0.4rem;
	color: #ccc;
}
.nav>ul>li:nth-child(2)>a>i{
	font-size: 0.38rem;
	margin-top: 0.1rem;
}
.nav>ul>li>a>span{
	color: #333;
	margin-top: 0.1rem;
}
.nav>ul>li>a>.active{
	color: #ff464e;
}