@charset "utf-8";

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}
/* fuzi */
/* 页头 */
.header {
	width: 100%;
	background-color: #333;
}

.header .container {
	height: 50px;
}

.header .container .left {
	height: 100%;
	float: left;
}

.header .container .left>ul {
	height: 100%;
}

.header .container .left>ul>li {
	height: 100%;
	float: left;
}

.header .container .left>ul>li:nth-child(11) {
	position: relative;
}

.header .container .left>ul>li:nth-child(11)>a:nth-child(3) {
	display: inline-block;
	width: 120px;
	height: 120px;
	text-align: center;
	border: 1px solid #ccc;
	border-top: 0;
	background-color: white;
	padding: 10px;
	position: absolute;
	top: 50px;
	left: -50px;
	z-index: 10;
	display: none;
}

.header .container .left>ul>li:nth-child(11)>dl {
	width: 100%;
	text-align: center;
	/* height: 120px; */

}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:first-child {
	width: 90px;
	height: 90px;
	margin-left: 15px;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:last-child {
	/* width: 90px; */
	height: 20px;
	color: #333;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd>img {
	width: 90px;
	height: 90px;
}

.header .container .clearfix>li>a {
	height: 100%;
	line-height: 50px;
	display: inline-block;
	color: #b0b0b0;
	font-size: 12px;
	margin-right: 5px;
}

.header .container .left>ul>li>a {
	margin-left: 5px;
}

.header .container .clearfix>li:first-child>a {
	margin-left: 0;
}

.header .container .clearfix>li>a:last-child {
	margin-right: 0;
}

.header .container .clearfix>li>span {
	color: #4a4a4a;
}

.header .container .center {
	height: 100%;
	margin-left: 20%;
	float: left;
}

.header .container .center>ul {
	height: 100%;
}

.header .container .center>ul>li {
	height: 100%;
	float: left;
}

.header .container .center>ul>li>a {
	margin-left: 5px;
}

.header .container .right {
	height: 100%;
	width: 120px;
	text-align: center;
	background-color: #424242;
	float: right;
	position: relative;
}

.header .container .right>span {
	font-size: 15px;
	display: inline-block;
	line-height: 50px;
	height: 100%;
}

.header .container .right .xiala {
	width: 340px;
	height: 98px;
	background-color: white;
	text-align: center;
	line-height: 98px;
	box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 0;
	display: none;
}
/* menu 菜单 */
.menu {
	width: 100%;
}

.menu .container {
	height: 100px;
}

.menu .container .logo {
	width: 60px;
	height: 60px;
	margin-top: 20px;
	background-color: #ff6700;
	text-align: center;
	float: left;
}

.menu .container .logo>a {
	width: 60px;
	height: 60px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 5px;
}
/* fuzhij */
/* 全部商品分类 */
.menu .container .neirong {
	/* width: calc(100% - 360px); */
	height: 100%;
	float: left;
	/* position: relative; */
}

.menu .container .neirong .all{
	position: absolute;
	color: #333;
	font-size: 16px;
	top: 50px;
	left: 200px;
	z-index: 100;
	/* line-height: 100px; */
}

.menu .container .neirong .all .xinjia{
	display: inline-block;
	height: 100px;
	line-height: 100px;
}






/* .banner {
	width: 100%;
}

.banner .container {
	height: 460px;
	position: relative;
} */

.all .left {
	width: 234px;
	height: 100%;
	background-color: #fff;
	border: 1px solid #FF6700;
	/* float: left; */
	margin-top: 0px;
	margin-left: -127px;
	display: none;
}

.all .left>ul {
	height: 100%;
	box-sizing: border-box;
	padding: 20px 0;
}

.all .left>ul>li {
	height: 42px;
	position: relative;
}

.all .left>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 42px;
	font-size: 14px;
	margin-left: 20px;
	/* margin-right: 50% ; */
	color: #666;
}

.all .left>ul>li>span {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 9px;
	right: 0;
}

.all .youla {
	width: 986px;
	height: 460px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	left: 237px;
	z-index: 10;
	display: none;
}

.all .nav1 {
	width: 965px;
	margin-top: -20px;
}

.all .nav2 {
	width: 965px;
	margin-top: -65px;
}

.all .nav3 {
	width: 530px;
	height: 460px;
	margin-top: -104px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav4 {
	width: 965px;
	margin-top: -146px;
}

.all .nav5 {
	width: 530px;
	height: 460px;
	margin-top: -188px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav6 {
	width: 530px;
	height: 460px;
	margin-top: -230px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav7 {
	width: 770px;
	height: 460px;
	margin-top: -274px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav8 {
	width: 965px;
	margin-top: -314px;
}

.all .nav9 {
	width: 530px;
	height: 460px;
	margin-top: -356px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav10 {
	width: 965px;
	margin-top: -398px;
}

.all .youla>ul {
	width: 240px;
	height: 100%;
	float: left;
}

.all .youla>ul>li {
	width: 100%;
	height: 16.66%;
}

.all .youla>ul>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 18px 0;
}

.all .youla>ul>li>a>p>img {
	width: 40px;
	height: 40px;
}





.menu .container .neirong>ul {
	height: 100%;
}

.menu .container .neirong>ul>li:first-child {
	margin-left: 180px;
}

.menu .container .neirong>ul>li {
	height: 100%;
	margin-right: 20px;
	float: left;
}

.menu .container .neirong>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 100px;
	font-size: 16px;
	color: #333;
}

.menu .container .search {
	margin-top: 25px;
	display: flex;
	float: right;
	position: relative;
	width: 300px;
	height: 50px;
	border: 1px solid #e0e0e0;
}
.menu .container .search .search-commend{
	width: 249px;
	height: 299px;
	background-color: white;
	position: absolute;
	top: 51px;
	left: -1px;
	z-index: 20;
	border: 1px solid #ff6700;
	border-top: 0;
	display: none;
}
.menu .container .search .search-commend>ul{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.menu .container .search .search-commend>ul>li{
	width: 100%;
	height: 30px;
}
.menu .container .search .search-commend>ul>li>a{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
}
.menu .container .search .search-commend>ul>li>a:hover{
	color: #333;
}
.menu .container .search>.search-text { 
	flex-grow: 1;
	border: none;
	outline: none;
	}
.menu .container .search>.search-hot {
	position: absolute;
	right:60px;
	top: 50%;
	transform: translateY(-50%);
}
.menu .container .search>.search-hot>a{
	display: inline-block;
	background-color: #ccc;
}
.menu .container .search>.search-button {
	width: 50px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.menu .container .search.focus { border-color: #ff6700; }
.menu .container .search.focus>.search-hot { display:none; }
.menu .container .search.focus>.search-button { border-left-color: #ff6700;}
/* menu-nav */
.yincang {
	width: 100%;
	background-color: white;
	box-shadow: 0 5px 5px rgba(200, 200, 200, 0.5);
	/* border-top: 1px solid #ccc; */
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 20;
	display: none;
}

.yincang .container {
	height: 230px;
}

.yincang .container .box {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
	box-sizing: border-box;
	padding: 0 60px;
	display: flex;
	justify-content: space-around;
}

.yincang .container .box .ite {
	width: 16.7%;
	height: 100%;
}

.yincang .container .box .ite .new {
	width: 58px;
	height: 18px;
	border: 1px solid #ff6700;
	text-align: center;
	margin-left: 60px;
}

.yincang .container .box .ite:nth-child(1) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(2) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(3) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(4) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(5) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(6) .new {
	border: 0;
}

.yincang .container .box .ite .new>p {
	font-size: 12px;
	color: #ff6700;
}

.yincang .container .box .ite .img {
	height: 110px;
	margin: 20px 0;
	text-align: center;
}

.yincang .container .box .ite .img>a {
	display: inline-block;
	height: 100%;
}

.yincang .container .box .ite .img>a>img {
	width: 159px;
	height: 110px;
	border-right: 1px solid #ccc;
}

.yincang .container .box .ite .price {
	height: 60px;
	text-align: center;
}

.yincang .container .box .ite .price .name>a {
	font-size: 12px;
	color: #333;
	margin-bottom: 5px;
}

.yincang .container .box .ite .price .number {
	font-size: 12px;
	color: #ff6700;
}
/* fushi */
.details-header {
	height: 62px;
	width: 100%;
	border-top: 1px solid #E0E0E0;
	background-color: white;
	box-shadow: 5px 5px 5px #EEEEEE;
}

.details-header.container {
	height: 100%;
}

.details-header .container .left {
	height: 100%;
	width: 260px;
	float: left;
}

.details-header .container .left ul {
	width: 100%;
	/* height: 50px; */

}

.details-header .container .left ul li {
	line-height: 62px;
	font-size: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	/* border-left: 1px solid #666; */
}

.details-header .container .left ul li a:hover {
	color: #FF6700;
}

.details-header .container .left ul li:first-child {
	font-size: 18px;
	/* border-left: 0; */
	color: #212121;
}

.details-header .container .left ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.details-header .container .left ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.details-header .container .right {
	height: 100%;
	width: 240px;
	float: right;
	margin-left: 580px;
}

.details-header .container .right ul li {
	float: left;
	line-height: 62px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
	color: #616161;
}

.details-header .container .right ul li a:hover {
	color: #FF6700;
}

.details-header .container .right ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.details-header .container .right ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.details-header .container .right ul li:nth-child(6) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

/* header2 */
.details-header2 {
	height: 62px;
	width: 100%;
	border-top: 1px sol #666;
	background-color: white;
	box-shadow: 5px 5px 5px #EEEEEE;
	display: none;
}

.details-header2.container {
	height: 100%;
}

.details-header2 .container .left {
	height: 100%;
	width: 260px;
	float: left;
}

.details-header2 .container .left ul {
	width: 100%;
	/* height: 50px; */

}

.details-header2 .container .left ul li {
	line-height: 62px;
	font-size: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	/* border-left: 1px solid #666; */
}

.details-header2 .container .left ul li a:hover {
	color: #FF6700;
}

.details-header2 .container .left ul li:first-child {
	font-size: 18px;
	/* border-left: 0; */
	color: #212121;
}

.details-header2 .container .left ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.details-header2 .container .left ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.details-header2 .container .right {
	height: 100%;
	width: 240px;
	float: right;
	margin-left: 580px;
}

.details-header2 .container .right ul li {
	float: left;
	line-height: 62px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
	color: #616161;
}

.details-header2 .container .right ul li a:hover {
	color: #FF6700;
}

.details-header2 .container .right ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.details-header2 .container .right ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.details-header2 .container .right ul li:nth-child(6) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

/* yilou */
.details-floor1 {
	width: 100%;
	height: 1580px;
	margin-top: 50px;

}

.details-floor1 .container {
	position: relative;
}

/* dingweitu */
.details-floor1 .container .floor1-left {
	width: 560px;
	height: 560px;
	float: left;
}

.details-floor1 .container .blue {
	background: url(../img/details1/details1.jpg) no-repeat center center;
	background-size: cover;
}

.details-floor1 .container .blank {
	background: url(../img/details1/details6.jpg) no-repeat center center;
	background-size: cover;
	display: none;
}

.details-floor1 .container .red {
	background: url(../img/details1/details7.jpg) no-repeat center center;
	background-size: cover;
	display: none;
}


.fixed {
	position: fixed;
}

.position {
	position: absolute;
	left: 0;
	bottom: 0;
}

/* dingweitu */

.details-floor1 .container .floor1-right {
	width: 608px;
	height: 1580px;
	float: right;
}

.details-floor1 .container .floor1-right .right-wodr1 {
	width: 100%;
	height: 200px;
	background-color: white;
}

.details-floor1 .container .floor1-right .right-wodr1 p:first-child {
	font-size: 24px;
	color: #000000;
}

.details-floor1 .container .floor1-right .right-wodr1 p:nth-child(2) {
	margin-top: 10px;
}

.details-floor1 .container .floor1-right .right-wodr1 p:nth-child(2) span:first-child {
	color: #FF4A00;
	font-size: 14px;
}

.details-floor1 .container .floor1-right .right-wodr1 p:nth-child(2) span:last-child {
	font-size: 14px;
}

.details-floor1 .container .floor1-right .right-wodr1 p:nth-child(3) {
	margin-top: 15px;
	color: #FF4A00;
	font-size: 14px;
}

.details-floor1 .container .floor1-right .right-wodr1 p:nth-child(4) {
	margin-top: 15px;
	color: #FF4A00;
	font-size: 14px;
	font-weight: bolder;
}

.details-floor1 .container .floor1-right .right-wodr2 {
	width: 100%;
	height: 75px;
	padding-top: 12px;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	background-color: white;
}

.details-floor1 .container .floor1-right .right-wodr2 .shang {
	width: 500px;
	height: 25px;
	margin-bottom: 10px;
}

.details-floor1 .container .floor1-right .right-wodr2 .shang .p1 {
	text-align: center;
	line-height: 25px;
	float: left;
	width: 80px;
	height: 25px;
	background-color: #FF4A00;
	font-size: 14px;
	color: white;
}

.details-floor1 .container .floor1-right .right-wodr2 .shang .p2 {
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #000000;
}

.details-floor1 .container .floor1-right .right-wodr3 {
	width: calc(100% - 2px);
	height: 104px;
	background-color: #FAFAFA;
	border: 1px solid #E0E0E0;
}

.details-floor1 .container .floor1-right .right-wodr3>div {
	margin-left: 30px;
	margin-top: 25px;
	color: #333;

}

.details-floor1 .container .floor1-right .right-wodr3>div span:first-child {
	font-size: 20px;
}

.details-floor1 .container .floor1-right .right-wodr3>div span:nth-child(2) {
	font-size: 14px;
}

.details-floor1 .container .floor1-right .right-wodr3>div span:nth-child(3) {
	font-size: 14px;
	color: #FF4A00;
}

.details-floor1 .container .floor1-right .right-wodr3>div p {
	margin-top: 5px;
	font-size: 14px;
	color: #FF4A00;
}

.details-floor1 .container .floor1-right .right-banben {
	margin-top: 10px;
	width: 100%;
	height: 200px;
	background-color: white;
}

.details-floor1 .container .floor1-right .right-banben p {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-banben .banben-dengfen {
	width: 100%;
	height: 120px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;

}

.details-floor1 .container .floor1-right .right-banben .banben-dengfen>div {
	width: 49.5%;
	height: 44%;
	text-align: center;
	border: 1px solid #E0E0E0;
}

.details-floor1 .container .floor1-right .right-banben .banben-dengfen>div span {
	line-height: 55px;
	font-size: 16px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-banben .banben-dengfen>div span:last-child {
	display: inline-block;
	margin-left: 25px;
	color: #B0B0B0;
}

.details-floor1 .container .floor1-right .right-color {
	width: 100%;
	height: 180px;
	background-color: white;
}

.details-floor1 .container .floor1-right .right-color p {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-color .color-dengfen {
	width: 100%;
	height: 120px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;

}

.details-floor1 .container .floor1-right .right-color .color-dengfen>div {
	width: 49.5%;
	height: 44%;
	text-align: center;
	border: 1px solid #E0E0E0;
}

.details-floor1 .container .floor1-right .right-color .color-dengfen>div:last-child {
	border: 0;
}

.details-floor1 .container .floor1-right .right-color .color-dengfen>div img {
	display: inline-block;
	margin-top: 15px;
}

.details-floor1 .container .floor1-right .right-color .color-dengfen>div span {
	margin-top: 15px;
	font-size: 20px;
	display: inline-block;
	margin-left: 10px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-taocan {
	width: 100%;
	height: 130px;
	background-color: white;
}

.details-floor1 .container .floor1-right .right-taocan>p {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen {
	margin-top: 20px;
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen .p {
	width: 49.5%;
	height: 44px;
	text-align: center;
	border: 1px solid #E0E0E0;
	line-height: 45px;
	color: #ff6700;
	font-size: 16px;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:first-child {
	border: 1px solid #ff6700;
	color: #333;

}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child {
	position: relative;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child .taocan-donghua {
	width: 610px;
	height: 167px;
	background-color: white;
	/* margin-left: -306px; */
	position: absolute;
	top: 45px;
	left: -308px;
	z-index: 80;
	/* display: flex;
	flex-direction: row;
	justify-content: space-between; */
	border: 1px solid #CCCCCC;
	display: none;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child .taocan-donghua .shang {
	width: 45%;
	height: 70%;
	margin-top: 30px;
	float: left;

}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child .taocan-donghua .xia {
	width: 45%;
	height: 70%;
	margin-top: 30px;
	float: left;

}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child>div .shang .tu {
	float: left;
	height: 80px;
	width: 80px;
	background: url(../img/details1/details8.jpg) no-repeat center center;
	background-size: cover;

}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child>div .shang .zi {
	float: left;
	color: #000000;
	font-size: 15px;
	margin-left: 15px;

}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child>div .xia .tu {
	float: left;
	height: 80px;
	width: 80px;
	background: url(../img/details1/details9.png) no-repeat center center;
	background-size: cover;
}

.details-floor1 .container .floor1-right .right-taocan .taocan-dengfen>div:last-child>div .xia .zi {
	float: left;
	color: #000000;
	font-size: 15px;
	margin-left: 15px;
}

.details-floor1 .container .floor1-right .right-protect {
	width: 100%;
	height: 350px;
	background-color: white
}

.details-floor1 .container .floor1-right .right-protect>p {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-protect>p span {
	font-size: 10px;
	color: #ff6700;
	display: inline-block;
	margin-left: 320px;
	line-height: 10px;
}

.details-floor1 .container .floor1-right .right-protect>div {
	margin-top: 20px;
	width: 100%;
	height: 140px;
	border: 1px solid #E0E0E0;
	position: relative;
}

.details-floor1 .container .floor1-right .right-protect>div:last-child {
	border-top: 0;
	margin-top: 0px;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-circle {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #E0E0E0;
	position: absolute;
	top: 60px;
	left: 40px;
	font-size: 14px;
	color: white;

}

.details-floor1 .container .floor1-right .right-protect>div .protect-bao {
	width: 50px;
	height: 50px;
	background: url(../img/details1/bao.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 40px;
	left: 80px;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word {
	position: absolute;
	top: 35px;
	left: 150px;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word>p:first-child {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word>p:nth-child(2) {
	margin-top: 8px;
	font-size: 14px;
	color: #b0b0b0;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word>p:nth-child(3) {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 25px;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word>p:nth-child(3) span:first-child {
	color: #ff6700;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-word>p:nth-child(3) span:last-child {
	margin-left: 210px;
}

.details-floor1 .container .floor1-right .right-protect>div .protect-zheng {
	width: 13px;
	height: 13px;
	background-color: white;
	border: 1px solid #E0E0E0;
	position: absolute;
	top: 95px;
	left: 150px;
	font-size: 14px;
	color: white;
}

/* baohushezhiclass  */
.click {
	border: 1px solid #ff6700 !important;
}

.click .protect-word p:first-child {
	color: #ff6700 !important;
}

.click .protect-circle {
	background-color: #ff6700 !important;
}

.click .protect-zheng {
	background-color: #ff6700 !important;
}


.details-floor1 .container .floor1-right .right-yanchang {
	width: 100%;
	height: 200px;
	background-color: white
}

.details-floor1 .container .floor1-right .right-yanchang>p {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-yanchang>p span {
	font-size: 10px;
	color: #ff6700;
	display: inline-block;
	margin-left: 320px;
}

.details-floor1 .container .floor1-right .right-yanchang>div {
	margin-top: 20px;
	width: 100%;
	height: 140px;
	border: 1px solid #E0E0E0;
	position: relative;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-circle {
	width: 13px;
	height: 13px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #E0E0E0;
	position: absolute;
	top: 60px;
	left: 40px;
	font-size: 14px;
	color: white;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-bao {
	width: 50px;
	height: 50px;
	background: url(../img/details1/bao.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 40px;
	left: 80px;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word {
	position: absolute;
	top: 35px;
	left: 150px;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word>p:first-child {
	font-size: 18px;
	color: #333;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word>p:nth-child(2) {
	margin-top: 8px;
	font-size: 14px;
	color: #b0b0b0;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word>p:nth-child(3) {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 25px;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word>p:nth-child(3) span:first-child {
	color: #ff6700;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-word>p:nth-child(3) span:last-child {
	margin-left: 210px;
}

.details-floor1 .container .floor1-right .right-yanchang>div .protect-zheng {
	width: 13px;
	height: 13px;
	background-color: white;
	border: 1px solid #E0E0E0;
	position: absolute;
	top: 95px;
	left: 110px;
	font-size: 14px;
	color: white;
}

.details-floor1 .container .floor1-right .right-sum {
	width: 100%;
	height: 110px;
	background-color: #F9F9FA;
	padding-top: 10px;
}

.details-floor1 .container .floor1-right .right-sum p {
	margin-left: 40px;
	margin-top: 10px;
}

.details-floor1 .container .floor1-right .right-sum p:first-child {
	font-size: 14px;
	color: #616161;
}

.details-floor1 .container .floor1-right .right-sum p:first-child span {
	margin-left: 270px;
}

.details-floor1 .container .floor1-right .right-sum p:last-child {
	font-size: 24px;
	color: #ff6700;
}

.details-floor1 .container .floor1-right .right-sum>div {
	width: 100%;
	font-size: 15px;
	margin-left: 40px;
	display: none;
}
.details-floor1 .container .floor1-right .right-sum>div span{
	margin-left: 420px;
}

.details-floor2 {
	width: 100%;
	height: 110px;
}

.details-floor2 .container {
	height: 150px;
}

.details-floor2 .container>div {
	width: 608px;
	height: 100%;
	margin-left: 593px;
	padding-top: 15px;
	box-sizing: border-box;

}

.details-floor2 .container>div .shang .shop {
	float: left;
	width: 300px;
	height: 54px;
	background-color: #FF6700;
	text-align: center;
	line-height: 54px;
	font-size: 16px;
	color: white;
	transition: all 0.5s;
}

.details-floor2 .container>div .shang .shop:hover {
	background-color: #F25807;
	cursor: pointer;
}

.details-floor2 .container>div .shang .like {
	float: left;
	width: 142px;
	height: 54px;
	background-color: #b0b0b0;
	text-align: center;
	line-height: 54px;
	font-size: 16px;
	color: white;
	margin-left: 20px;
	transition: all 0.5s;
}

.details-floor2 .container>div .shang .like:hover {
	background-color: #757575;
	cursor: pointer;
}

.details-floor2 .container>div .xia {
	margin-top: 70px;
}

.details-floor3 {
	margin-top: 15px;
	width: 100%;
	height: 300px;
	background-color: #F5F5F5;
	box-sizing: border-box;
	padding-top: 20px;
}

.details-floor3 .container p {
	font-size: 22px;
	color: #333;
}

.details-floor3 .container .floor3-lines {
	width: 100%;
	height: 189px;
	background-color: white;
	margin-top: 20px;
	background: url(../img/details1/details5.jpeg) no-repeat center center;
	background-size: cover;
}

/* fuzhi */
/* 页脚 */
.footer {
	width: 100%;
}

.footer .footer-top {
	width: 100%;
	/* height: 300px; */
	background-color: white;
}

.footer .footer-top .container {
	height: 100%;
}

.footer .footer-top .container .service {
	width: 100%;
	height: 79px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	padding: 27px 0;
}

.footer .footer-top .container .service>ul {
	height: 25px;
}

.footer .footer-top .container .service>ul>li {
	width: 234px;
	height: 25px;
	border-right: 1px solid #ccc;
	line-height: 25px;
	text-align: center;
	float: left;
}

.footer .footer-top .container .service>ul>li:last-child {
	border-right: 1px solid white;
}

.footer .footer-top .container .service>ul>li>a {
	height: 25px;
	font-size: 16px;
	color: #616161;
	display: inline-block;
	/* text-align: center; */
}
.footer .footer-top .container .service>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .service>ul>li>a>span {
	font-size: 20px;
	margin-right: 5px;
}

.footer .footer-top .container .links {
	width: 100%;
	height: 200px;
}

.footer .footer-top .container .links>ul {
	width: 156.5px;
	height: 100%;
	box-sizing: border-box;
	padding: 30px 0;
	float: left;
}

.footer .footer-top .container .links>ul>li {
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}

.footer .footer-top .container .links>ul>li:first-child {
	margin-bottom: 20px;
}

.footer .footer-top .container .links>ul>li>a {
	font-size: 12px;
	color: #757575;
}
.footer .footer-top .container .links>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .links .tel {
	width: calc(100% - 959px);
	height: 140px;
	float: left;
	margin-top: 30px;
	border-left: 1px solid #ccc;
	text-align: center;
}

.footer .footer-top .container .links .tel .phone {
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 10px;
}

.footer .footer-top .container .links .tel .date {
	font-size: 12px;
	margin-bottom: 20px;
}

.footer .footer-top .container .links .tel>a {
	width: 119px;
	height: 29px;
	color: #ff6700;
	display: inline-block;
	border: 1px solid #ff6700;
	text-align: center;
	line-height: 29px;
}

.footer .footer-top .container .links .tel>a>span {
	font-size: 10px;
	color: #ff6700;
	margin-right: 5px;
}

.footer .footer-bottom {
	width: 100%;
	height: 230px;
	background-color: #FAFAFA;
	box-sizing: border-box;
	padding: 20px 0;
}

.footer .footer-bottom .container {
	height: 100%;
}

.footer .footer-bottom .container .mi-logo {
	width: 60px;
	height: 60px;
	float: left;
	background-color: #ff6700;
}

.footer .footer-bottom .container .mi-logo>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 0;
}
.footer .footer-bottom .container .footer-text {
	width: calc(100% - 60px);
	height: 80px;
	margin-left: 60px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .footer-text>p>a {
	display: inline-block;
	color: #757575;
	font-size: 12px;
}
.footer .footer-bottom .container .footer-text>p>a:hover{
	color: #ff6700;
}
.footer .footer-bottom .container .shangbiao {
	width: calc(100% - 60px);
	height: 30px;
	margin-left: 60px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .shangbiao>a>img {
	width: 85px;
	height: 28px;
}

.footer .footer-bottom .container .slogan {
	margin-top: 30px;
	text-align: center;
	height: 20px;
	font-size: 18px;
	color: #ccc;
}

/* fuzhi */