@charset "utf-8";

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}
/* 复制页头 */
.header {
	width: 100%;
	background-color: #333;
	
}

.header .container {
	height: 50px;
}

.header .container .left {
	height: 100%;
	float: left;
}

.header .container .left>ul {
	height: 100%;
}

.header .container .left>ul>li {
	height: 100%;
	float: left;
}

.header .container .left>ul>li:nth-child(11) {
	position: relative;
}

.header .container .left>ul>li:nth-child(11)>a:nth-child(3) {
	display: inline-block;
	width: 120px;
	height: 120px;
	text-align: center;
	border: 1px solid #ccc;
	border-top: 0;
	background-color: white;
	padding: 10px;
	position: absolute;
	top: 50px;
	left: -50px;
	z-index: 10;
	display: none;
}

.header .container .left>ul>li:nth-child(11)>dl {
	width: 100%;
	text-align: center;
	/* height: 120px; */

}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:first-child {
	width: 90px;
	height: 90px;
	margin-left: 15px;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:last-child {
	/* width: 90px; */
	height: 20px;
	color: #333;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd>img {
	width: 90px;
	height: 90px;
}

.header .container .clearfix>li>a {
	height: 100%;
	line-height: 50px;
	display: inline-block;
	color: #b0b0b0;
	font-size: 12px;
	margin-right: 5px;
}

.header .container .left>ul>li>a {
	margin-left: 5px;
}

.header .container .clearfix>li:first-child>a {
	margin-left: 0;
}

.header .container .clearfix>li>a:last-child {
	margin-right: 0;
}

.header .container .clearfix>li>span {
	color: #4a4a4a;
}

.header .container .center {
	height: 100%;
	margin-left: 20%;
	float: left;
}

.header .container .center>ul {
	height: 100%;
}

.header .container .center>ul>li {
	height: 100%;
	float: left;
}

.header .container .center>ul>li>a {
	margin-left: 5px;
}

.header .container .right {
	height: 100%;
	width: 120px;
	text-align: center;
	background-color: #424242;
	float: right;
	position: relative;
}

.header .container .right>span {
	font-size: 15px;
	display: inline-block;
	line-height: 50px;
	height: 100%;
}

.header .container .right .xiala {
	width: 340px;
	height: 98px;
	background-color: white;
	text-align: center;
	line-height: 98px;
	box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 0;
	display: none;
}
/* menu 菜单 */
.menu {
	width: 100%;
}

.menu .container {
	height: 100px;
}

.menu .container .logo {
	width: 60px;
	height: 60px;
	margin-top: 20px;
	background-color: #ff6700;
	text-align: center;
	float: left;
}

.menu .container .logo>a {
	width: 60px;
	height: 60px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 5px;
}
/* fuxhij */
/* 全部商品分类 */
.menu .container .neirong {
	/* width: calc(100% - 360px); */
	height: 100%;
	float: left;
	/* position: relative; */
}

.menu .container .neirong .all{
	position: absolute;
	color: #333;
	font-size: 16px;
	top: 50px;
	left: 14%;
	z-index: 100;
	/* line-height: 100px; */
}

.menu .container .neirong .all .xinjia{
	display: inline-block;
	height: 100px;
	line-height: 100px;
}
.neirong a:hover{
	color:#ff6700;
}





/* .banner {
	width: 100%;
}

.banner .container {
	height: 460px;
	position: relative;
} */

.all .left {
	width: 234px;
	height: 100%;
	background-color: #fff;
	border: 1px solid #FF6700;
	/* float: left; */
	margin-top: 0px;
	margin-left: -127px;
	display: none;
}

.all .left>ul {
	height: 100%;
	box-sizing: border-box;
	padding: 20px 0;
}

.all .left>ul>li {
	height: 42px;
	position: relative;
}

.all .left>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 42px;
	font-size: 14px;
	margin-left: 20px;
	/* margin-right: 50% ; */
	color: #666;
}

.all .left>ul>li>span {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 9px;
	right: 0;
}

.all .youla {
	width: 986px;
	height: 460px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	left: 237px;
	z-index: 10;
	display: none;
}

.all .nav1 {
	width: 965px;
	margin-top: -20px;
}

.all .nav2 {
	width: 965px;
	margin-top: -65px;
}

.all .nav3 {
	width: 530px;
	height: 460px;
	margin-top: -104px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav4 {
	width: 965px;
	margin-top: -146px;
}

.all .nav5 {
	width: 530px;
	height: 460px;
	margin-top: -188px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav6 {
	width: 530px;
	height: 460px;
	margin-top: -230px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav7 {
	width: 770px;
	height: 460px;
	margin-top: -274px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav8 {
	width: 965px;
	margin-top: -314px;
}

.all .nav9 {
	width: 530px;
	height: 460px;
	margin-top: -356px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav10 {
	width: 965px;
	margin-top: -398px;
}

.all .youla>ul {
	width: 240px;
	height: 100%;
	float: left;
}

.all .youla>ul>li {
	width: 100%;
	height: 16.66%;
}

.all .youla>ul>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 18px 0;
}

.all .youla>ul>li>a>p>img {
	width: 40px;
	height: 40px;
}




.menu .container .neirong>ul {
	height: 100%;
}

.menu .container .neirong>ul>li:first-child {
	margin-left: 180px;
}

.menu .container .neirong>ul>li {
	height: 100%;
	margin-right: 20px;
	float: left;
}

.menu .container .neirong>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 100px;
	font-size: 16px;
	color: #333;
}

.menu .container .search {
	margin-top: 25px;
	display: flex;
	float: right;
	position: relative;
	width: 300px;
	height: 50px;
	border: 1px solid #e0e0e0;
}
.menu .container .search .search-commend{
	width: 249px;
	height: 299px;
	background-color: white;
	position: absolute;
	top: 51px;
	left: -1px;
	z-index: 20;
	border: 1px solid #ff6700;
	border-top: 0;
	display: none;
}
.menu .container .search .search-commend>ul{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.menu .container .search .search-commend>ul>li{
	width: 100%;
	height: 30px;
}
.menu .container .search .search-commend>ul>li>a{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
}
.menu .container .search .search-commend>ul>li>a:hover{
	color: #333;
}
.menu .container .search>.search-text { 
	flex-grow: 1;
	border: none;
	outline: none;
	}
.menu .container .search>.search-hot {
	position: absolute;
	right:60px;
	top: 50%;
	transform: translateY(-50%);
}
.menu .container .search>.search-hot>a{
	display: inline-block;
	background-color: #ccc;
}
.menu .container .search>.search-button {
	width: 50px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.menu .container .search.focus { border-color: #ff6700; }
.menu .container .search.focus>.search-hot { display:none; }
.menu .container .search.focus>.search-button { border-left-color: #ff6700;}
/* menu-nav */
.yincang {
	width: 100%;
	background-color: white;
	box-shadow: 0 5px 5px rgba(200, 200, 200, 0.5);
	/* border-top: 1px solid #ccc; */
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 20;
	display: none;
}

.yincang .container {
	height: 230px;
}

.yincang .container .box {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
	box-sizing: border-box;
	padding: 0 60px;
	display: flex;
	justify-content: space-around;
}

.yincang .container .box .ite {
	width: 16.7%;
	height: 100%;
}

.yincang .container .box .ite .new {
	width: 58px;
	height: 18px;
	border: 1px solid #ff6700;
	text-align: center;
	margin-left: 60px;
}

.yincang .container .box .ite:nth-child(1) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(2) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(3) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(4) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(5) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(6) .new {
	border: 0;
}

.yincang .container .box .ite .new>p {
	font-size: 12px;
	color: #ff6700;
}

.yincang .container .box .ite .img {
	height: 110px;
	margin: 20px 0;
	text-align: center;
}

.yincang .container .box .ite .img>a {
	display: inline-block;
	height: 100%;
}

.yincang .container .box .ite .img>a>img {
	width: 159px;
	height: 110px;
	border-right: 1px solid #ccc;
}

.yincang .container .box .ite .price {
	height: 60px;
	text-align: center;
}

.yincang .container .box .ite .price .name>a {
	font-size: 12px;
	color: #333;
	margin-bottom: 5px;
}

.yincang .container .box .ite .price .number {
	font-size: 12px;
	color: #ff6700;
}
/* 复制页头 */
.topic-full{
	min-width: 1200px;
}


.topic-header {
	height: 62px;
	width: 100%;
	border-top: 1px solid #E0E0E0;
	background-color: white;
}

.topic-header .container {
	height: 100%;
}

.topic-header .container .left {
	height: 100%;
	width: 260px;
	float: left;
}

.topic-header .container .left ul {
	width: 100%;
	/* height: 50px; */

}

.topic-header .container .left ul li {
	line-height: 62px;
	font-size: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	/* border-left: 1px solid #666; */
}
.topic-header .container .left ul li a:hover{
	color: #FF6700;
}

.topic-header .container .left ul li:first-child {
	font-size: 18px;
	/* border-left: 0; */
	color: #212121;
}

.topic-header .container .left ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.topic-header .container .left ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.topic-header .container .right {
	height: 100%;
	width: 240px;
	float: left;
	margin-left: 580px;
}

.topic-header .container .right ul li {
	float: left;
	line-height: 62px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
	color: #616161;
}
.topic-header .container .right ul li a:hover{
	color: #FF6700;
}

.topic-header .container .right ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header .container .right ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header .container .right ul li:nth-child(6) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header .container button {
	float: right;
	display: inline-block;
	width: 120px;
	height: 35px;
	margin-top: calc((62px - 35px) / 2);
	background-color: #FF6700;
	color: white;
	border: 0;
}
.topic-header button a{
	color: white !important;
}
.topic-header button a:hover{
	color: white !important;
}
/* 第二个 */
.topic-header2 {
	height: 62px;
	width: 100%;
	border-top: 1px sol #666;
	background-color: white;
	display: none;
}

.topic-header2 .container {
	height: 100%;
}

.topic-header2 .container .left {
	height: 100%;
	width: 260px;
	float: left;
}

.topic-header2 .container .left ul {
	width: 100%;
	/* height: 50px; */

}

.topic-header2 .container .left ul li {
	line-height: 62px;
	font-size: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	/* border-left: 1px solid #666; */
}
.topic-header2 .container .left ul li a:hover{
	color: #FF6700;
}

.topic-header2 .container .left ul li:first-child {
	font-size: 18px;
	/* border-left: 0; */
	color: #212121;
}

.topic-header2 .container .left ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.topic-header2 .container .left ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #5E1C5E;
}

.topic-header2 .container .right {
	height: 100%;
	width: 240px;
	float: left;
	margin-left: 580px;
}

.topic-header2 .container .right ul li {
	float: left;
	line-height: 62px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
	color: #616161;
}
.topic-header2 .container .right ul li a:hover{
	color: #FF6700;
}
.topic-header2 .container .right ul li:nth-child(2) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header2 .container .right ul li:nth-child(4) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header2 .container .right ul li:nth-child(6) {
	padding-left: 0;
	padding-right: 0;
	color: #E9E0E9;
}

.topic-header2 .container button {
	float: right;
	display: inline-block;
	width: 120px;
	height: 35px;
	margin-top: calc((62px - 35px) / 2);
	background-color: #FF6700;
	color: white;
	border: 0;
}
.topic-header2 button a{
	color: white !important;
}
.topic-header2 button a:hover{
	color: white !important;
}
/* 第二个 */
.topic-lunbo1 {
	width: 100%;
	height: 1000px;
	background-color: #898989;
	
}
.topic-lunbo1 .swiper-container1{
	width: 100%;
	height: 1000px;
	
}
.topic-lunbo1 .swiper-container1 .swiper-wrapper{
	width: 100%;
	height: 1000px;
}
.topic-lunbo1 .swiper-container1 .swiper-wrapper .swiper-slide{
	width: 100%;
	height: 1000px;
}
.topic-lunbo1 .swiper-container1 .swiper-wrapper .Slide1{
	background: url(../img/topic/lunbo-01.jpg) no-repeat center center;
	background-size: cover;
}
.topic-lunbo1 .swiper-container1 .swiper-wrapper .Slide2{
	background: url(../img/topic/lunbo-02.jpg) no-repeat center center;
	background-size: cover;
}
.topic-lunbo1 .swiper-container1 .swiper-wrapper .Slide3{
	background: url(../img/topic/lunbo-03.jpg) no-repeat center center;
	background-size: cover;
}

 .topic-lunbo1 .wenzi>div {
	text-align: center;
	height: 30px;
}

.topic-lunbo1 .wenzi>div:first-child {
	padding-top: 50px;
	color: white;
	font-size: 30px;
}

.topic-lunbo1 .wenzi>div:nth-child(2) {
	margin-top: 30px;
	font-size: 75px;
	color: white;
}

.topic-lunbo1 .wenzi>div:nth-child(3) {
	margin-top: 80px;
	 position: relative; 
	height: 40px;
	color: #E9B21F;
	 width: 200px; 
	 margin-left: calc((100% - 200px) / 2);

}

.topic-lunbo1 .wenzi>div:nth-child(3) .sub {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 10px;
	font-size: 20px;

}

.topic-lunbo1 .wenzi>div:nth-child(3) .sub2 {
	margin-left: 30px;
	position: absolute;
	top: 20px;
	left: 100px;
}

.topic-lunbo1 .wenzi>div:nth-child(3) .spa1 {
	color: #E9B21F;
	font-size: 35px;
	/* position: relative; */
}

.topic-lunbo1 .wenzi>div:nth-child(3) .spa2 {
	font-size: 15px;
	margin-left: 15px;
	/* position: relative; */

} 

.topic-floor1 {
	height: 200px;
	width: 100%;
}

.topic-floor1 .container {
	height: 100%;
	padding-top: 25px;
}

.topic-floor1 .container .floor1-box {
	height: 80%;
	display: flex;
	width: 70%;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	margin-left: 9%;

}

.topic-floor1 .container .floor1-box>div {
	height: 48%;
	width: 23%;
}

.topic-floor1 .container .floor1-box>div>p:first-child {
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}

.topic-floor1 .container .floor1-box>div>p:last-child {
	margin-top: 5px;
	color: #848484;
	font-weight: bold;
}

.topic-floor2 {
	width: 100%;
	height: 350px;
	background-color: #898989;
}

.topic-floor2 {
	background: url(../img/topic/floor1.jpg)no-repeat center center;
	background-size: cover;
}

.topic-floor2 .container {
	width: 750px;
	height: 100%;
}

.topic-floor2 .container p:first-child {
	margin-top: 70px;
}

.topic-floor2 .container p {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
}

.topic-floor3 {
	height: 1565.5px;
	width: 100%;
}

.topic-floor3 .container {
	height: 100%;
	width: 730px;
	margin: 0 auto;
}

.topic-floor3 .container .floor3-wenzishang {
	margin-top: 100px;
	font-weight: bold;
}

.topic-floor3 .container .floor3-wenzishang>p {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
}

.topic-floor3 .container .floor3-wenzixia {
	margin-top: 20px;
	font-size: 14px;
}

.topic-floor3 .container .floor3-wenzixia>p {
	margin-top: 10px;
	color: #333333;
}

.topic-floor3 .container .floor3-picture1 {
	margin-top: 50px;
	height: 341px;
	width: 100%;
	background: url(../img/topic/floor2.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor3 .container .floor3-wenzishang2 {
	font-weight: bold;
	margin-top: 30px;
}

.topic-floor3 .container .floor3-wenzishang2>p {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
}

.topic-floor3 .container .floor3-wenzixia2 {
	margin-top: 20px;
	font-size: 14px;
}

.topic-floor3 .container .floor3-wenzixia2>p {
	margin-top: 10px;
	color: #333333;
}

.topic-floor3 .container .floor3-box {
	float: left;
	height: 100px;
	width: 220px;
	border: 1px solid #666;
	margin-top: 60px;
	text-align: center;
	margin-right: 20px;
}

.topic-floor3 .container .floor3-box p:first-child {
	margin-top: 15px;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
}

.topic-floor3 .container .floor3-box p:last-child {
	font-size: 13px;
	margin-top: 5px;
	color: #6E6E6E;
}

.topic-floor3 .container .floor3-smallword {
	margin-top: 170px;
	line-height: 20px;
	font-size: 5px;
}

.topic-floor3 .container .floor3-picture2 {
	margin-top: 50px;
	width: 105%;
	height: 460px;
	background: url(../img/topic/floor3.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor4 {
	width: 100%;
	height: 1200px;
	background-color: #E9E9E9;
}

.topic-floor4 .container1 {
	height: 320px;
	width: 730px;
	margin: 0 auto;
	padding-top: 50px;
}

.topic-floor4 .container1 p:first-child {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	margin-top: 30px;
	line-height: 40px;
}

.topic-floor4 .container1 p:nth-child(2) {
	margin-top: 20px;
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor4 .container1 p:nth-child(3) {
	margin-top: 10px;
	line-height: 25px;
	font-size: 5px;
}

.topic-floor4 .container2 {
	height: 330px;
	width: 830px;
	margin: 0 auto;

}

.topic-floor4 .container2 .floor4-picture1 {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	background: url(../img/topic/noline.png) no-repeat center center;
	background-size: cover;
}

.topic-floor4 .container2 .floor4-picture2 {
	margin-top: 20px;
	width: 100%;
	height: 49px;
	background: url(../img/topic/speed.png) no-repeat center center;
	background-size: 100% 100%;
}

.topic-floor4 .container3 {
	height: 400px;
	width: 730px;
	margin: 0 auto;
	padding-top: 50px;
	margin-top: 150px;
	text-align: center;
}

.topic-floor4 .container3 .floor4-picture3 {
	width: 80%;
	height: 236px;
	background: url(../img/topic/charge.png) no-repeat center center;
	background-size: cover;
	margin-left: 10%;
}

.topic-floor4 .container3 .floor4-p {
	margin-top: 20px;
}

.topic-floor5 {
	width: 100%;
	height: 350px;
	background: url(../img/topic/floor1.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor5 .container {
	height: 100%;
	width: 730px;
}

.topic-floor5 .container p:first-child {
	margin-top: 70px;
}

.topic-floor5 .container p {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
}

.topic-floor6 {
	width: 100%;
	height: 670px;
}

.topic-floor6 .container {
	height: 100%;
	width: 730px;
}

.topic-floor6 .container .floor6-zi {
	width: 100%;
	height: 240px;
}

.topic-floor6 .container .floor6-zi p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	padding-top: 50px;
	line-height: 40px;
}

.topic-floor6 .container .floor6-zi p:last-child {
	font-size: 14px;
	padding-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor6 .container .floor6-vido1 {
	width: 100%;
	height: 360px;
}

.topic-floor6 .container .floor6-vido1 video {
	width: 110%;
	height: 100%;
	margin-left: 0;
	display: inline-block;
	margin-left: -83px;
}

.topic-floor6 .container .floor6-smallword {
	font-size: 10px;
}

.topic-floor7 {
	width: 100%;
	height: 800px;
}

.topic-floor7 .container {
	height: 100%;
	width: 730px;
}

.topic-floor7 .container .floor7-zi p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	padding-top: 50px;
	line-height: 40px;
}

.topic-floor7 .container .floor7-zi p:nth-child(2) {
	font-size: 14px;
	padding-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor7 .container .floor7-zi p:nth-child(3) {
	margin-top: 10px;
}

.topic-floor7 .container .floor7-zi p:nth-child(3) span:first-child {
	font-size: 35px;
}

.topic-floor7 .container .floor7-zi p:nth-child(3) span:last-child {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}

.topic-floor7 .container .floor7-vido1 {
	width: 100%;
	height: 360px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.topic-floor7 .container .floor7-vido1 video {

	width: 110%;
	height: 100%;
	margin-left: 0;
	display: inline-block;
	margin-left: -83px;

}
.topic-floor7 .container .floor7-vido1 video:last-child{
	display: none;
}

.topic-floor7 .container .floor7-zixia {
	width: 320px;
	height: 50px;
	margin-left: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.topic-floor7 .container .floor7-zixia>div {
	width: 45%;
	height: 99%;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	cursor:pointer ;
}

.topic-floor7 .container .floor7-zixia>div:first-child {
	border: 1px solid #00A0E9;
	color: #00A0E9;
}

.topic-floor7 .container .floor7-zixia>div:nth-child(2) {
	border: 1px solid #F15757;
	color: #F15757;
	background-color: #FDE7E7;
}

.topic-floor8 {
	width: 100%;
	height: 740px;
}

.topic-floor8 .container {
	height: 100%;
	width: 730px;
}

.topic-floor8 .container .floor8-word p:first-child {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	margin-top: 30px;
	line-height: 40px;
	margin-top: 50px;
}

.topic-floor8 .container .floor8-word p:nth-child(2) {
	margin-top: 20px;
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor8 .container .floor8-word p:nth-child(3) {
	margin-top: 5px;
	line-height: 25px;
	font-size: 1px;
}

.topic-floor8 .container .floor8-picture1 {
	margin-top: 80px;
	width: 100%;
	height: 310px;
	background: url(../img/topic/moon.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor9 {
	width: 100%;
	height: 500px;
}

.topic-floor9 .container {
	height: 100%;
	width: 730px;
}

.topic-floor9 .container .floor9-word p:first-child {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	margin-top: 30px;
	line-height: 40px;
	margin-top: 50px;
}

.topic-floor9 .container .floor9-word p:nth-child(2) {
	margin-top: 20px;
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor9 .container .floor9-picture1 {
	width: 80%;
	height: 200px;
	background-color: #0077AA;
	margin-top: 60px;
	background: url(../img/topic/cameraFunc.png) no-repeat center center;
	background-size: 100% auto;
}

.topic-lunbo2 {
	width: 100%;
	height: 500px;
}

.topic-lunbo2 .swiper-container {
	width: 100%;
	height: 90%;
}

.topic-lunbo2 .swiper-container .swiper-wrapper {
	width: 100%;
	height: 100%;
}

.topic-lunbo2 .swiper-container .swiper-wrapper .swiper-slide {
	width: 640px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.topic-lunbo2 .swiper-container .swiper-wrapper .Slide1 {
	background: url(../img/topic/lunbo21.jpg) no-repeat center center;
	background-size: cover;
}

.topic-lunbo2 .swiper-container .swiper-wrapper .Slide2 {
	background: url(../img/topic/lunbo22.jpg) no-repeat center center;
	background-size: cover;
}

.topic-lunbo2 .swiper-container .swiper-wrapper .Slide3 {
	background: url(../img/topic/lunbo23.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor10 {
	width: 100%;
	height: 750px;
}

.topic-floor10 .container {
	height: 100%;
	width: 730px;
}

.topic-floor10 .container .floor10-word p:first-child {
	margin-top: 10px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	margin-top: 30px;
	line-height: 40px;
	margin-top: 50px;
}

.topic-floor10 .container .floor10-word p:nth-child(2) {
	margin-top: 20px;
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor10 .container .floor10-lunbo3 {
	width: 100%;
	height: 430px;
	margin-top: 30px;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container {
	width: 100%;
	height: 430px;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container .swiper-wrapper {
	width: 100%;
	height: 430px;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 425px;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container .swiper-wrapper .Slide1 {
	background: url(../img/topic/temp1.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container .swiper-wrapper .Slide2 {
	background: url(../img/topic/temp2.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor10 .container .floor10-lunbo3 .swiper-container .swiper-wrapper .Slide3 {
	background: url(../img/topic/temp3.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor11 {
	width: 100%;
	height: 750px;
}

.topic-floor11 .container {
	height: 100%;
	width: 730px;
}

.topic-floor11 .container .floor11-word p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 50px;
}

.topic-floor11 .container .floor11-word p:nth-child(2) {
	margin-top: 20px;
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor11 .container .floor11-picture1 {
	width: 100%;
	height: 425px;
	margin-top: 30px;
	background: url(../img/topic/feel.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor12 {
	width: 100%;
	height: 350px;
}

.topic-floor12 .container {
	height: 100%;
	width: 730px;
}

.topic-floor12 .container .floor12-word p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 20px;
}

.topic-floor12 .container .floor12-word p:nth-child(2) {
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor12 .container .floor12-wordxia {
	margin-top: 30px;
	width: 100%;
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.topic-floor12 .container .floor12-wordxia>div {
	height: 100%;
	width: 24%;
	border-left: 1px solid #E5E5E5;
}

.topic-floor12 .container .floor12-wordxia>div p:first-child {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	padding-left: 35px;
}

.topic-floor12 .container .floor12-wordxia>div:first-child {
	border: 0;
}

.topic-floor12 .container .floor12-wordxia>div:first-child p:first-child {
	padding: 0;

}

.topic-floor12 .container .floor12-wordxia>div p:last-child {
	font-size: 14px;
	margin-top: 5px;
	color: #333333;
	padding-left: 35px;
}

.topic-floor12 .container .floor12-wordxia>div:first-child p:last-child {
	padding: 0;
}

.topic-floor12 .container .floor12-smallword {}

.topic-floor13 {
	width: 100%;
	height: 700px;
}

.topic-floor13 .container {
	height: 700px;
	width: 1200px;
	background: url(../img/topic/full1.png) no-repeat center center;
	background-size: cover;
}

.topic-floor14 {
	width: 100%;
	height: 230px;
}

.topic-floor14 .container {
	height: 100%;
	width: 730px;

}

.topic-floor14 .container .floor14-word p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 20px;
}

.topic-floor14 .container .floor14-word p:nth-child(2) {
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor15 {
	width: 100%;
	height: 570px;
	background: url(../img/topic/blue.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor16 {
	width: 100%;
	height: 750px;
}

.topic-floor16 .container {
	height: 100%;
	width: 730px;
}

.topic-floor16 .container .floor16-word p:first-child {

	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 80px;
}

.topic-floor16 .container .floor16-picture {
	width: 100%;
	height: 500px;
	background: url(../img/topic/wangyuan1.jpg) no-repeat center center;
	background-size: cover;
	margin-top: 50px;
}

.topic-floor17 {
	width: 100%;
	height: 350px;
	background: url(../img/topic/update.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor17 .container {
	height: 100%;
	width: 730px;
}

.topic-floor17 .container p:first-child {
	margin-top: 70px;
}

.topic-floor17 .container p {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
}

.topic-floor18 {
	width: 100%;
	height: 680px;
}

.topic-floor18 .container {
	height: 100%;
	width: 730px;
}

.topic-floor18 .container .floor18-word p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 20px;
}

.topic-floor18 .container .floor18-word p:nth-child(2) {
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor18 .container .floor18-picture {
	margin-top: 50px;
	width: 100%;
	height: 440px;
	background: url(../img/topic/finger.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor19 {
	width: 100%;
	height: 400px;
}

.topic-floor19 .container {
	height: 100%;
	width: 730px;
}

.topic-floor19 .container .floor19-word p:first-child {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	line-height: 40px;
	margin-top: 20px;
}

.topic-floor19 .container .floor19-word p:nth-child(2) {
	font-size: 14px;
	margin-top: 10px;
	color: #333333;
	line-height: 30px;
}

.topic-floor19 .container .floor19-picture {
	margin-top: 30px;
	width: 320px;
	height: 130px;
	background: url(../img/topic/ai.png) no-repeat center center;
	background-size: cover;
}

.topic-floor20 {
	width: 100%;
	height: 260px;
}

.topic-floor20 .floor20-picture {
	margin-top: 50px;
	margin-left: calc(100% - 1200px);
	width: 1200px;
	height: 100%;
	background-color: pink;
	background: url(../img/topic/aibutton.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor21 {
	width: 100%;
	height: 600px;
}

.topic-floor21 .container {
	height: 100%;
	width: 850px;
}

.topic-floor21 .container .floor21-sifen {
	margin-top: 80px;
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid #F2F2F2;


}

.topic-floor21 .container .floor21-sifen>div {
	height: 50%;
	width: 50%;
	text-align: center;
}

.topic-floor21 .container .floor21-sifen>div:first-child {
	background: url(../img/topic/pay1.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor21 .container .floor21-sifen>div:last-child {
	background: url(../img/topic/pay2.jpg) no-repeat center center;
	background-size: cover;
}

.topic-floor21 .container .floor21-sifen>div>p {
	margin-top: 90px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;

}

.topic-floor22 {
	width: 100%;
	height: 360px;
}

.topic-floor22 video {
	width: 100%;
}

.topic-floor23 {
	width: 100%;
	height: 900px;
	
}

.topic-floor23 .container {
	height: 100%;
	width: 730px;
}
.topic-floor23 .container .floor23-word>p:first-child{
	margin-top: 70px;
	font-size: 45px;
	font-weight: bold;
	color: #FD4D76;
}
.topic-floor23 .container .floor23-word>p:nth-child(2){
	margin-top: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #549FFF;
}
.topic-floor23 .container .floor23-word>p:nth-child(3){
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color:black;
}
.topic-floor23 .container .floor23-picture{
	margin-top: 20px;
	width: 100%;
	height: 520px;
	background: url(../img/topic/dear2.jpg) no-repeat  center center;
	background-size: cover;
}
.topic-floor24{
	width: 100%;
	height: 600px;
	background-color: #CCCCCC;
	background: url(../img/topic/look.jpg) no-repeat center center;
	background-size: cover;
}
.topic-floor24>div {
	text-align: center;
	height: 30px;
}

.topic-floor24>div:first-child {
	padding-top: 20px;
	color: white;
	font-size: 30px;
}

.topic-floor24>div:nth-child(2) {
	margin-top: 30px;
	font-size: 70px;
	color: white;
}
.topic-floor25{
	width: 100%;
	height: 120px;
	background-color: #B0B0B0;
	background: url(../img/topic/bottom.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}
.topic-floor25>span{
	font-size: 20px;
	color: white;
	line-height:120px ;
}
.topic-floor26{
	width: 100%;
	height: 190px;
}
.topic-floor26 .container{
	width: 1200px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.topic-floor26 .container>div{
	width: 50%;
	height: 100%;
}
.topic-floor26 .container>div img{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 45px;
	float: left;
	
}
.topic-floor26 .container>div div{
	float: left;
}
.topic-floor26 .container>div div span{
	display: inline-block;
	margin-top: 30px;
	font-size: 25px;
	margin-left:30px ;
	color: #222222;
}
.topic-floor26 .container>div div p{
	margin-top: 10px;
	font-size: 15px;
	margin-left:30px ;
	color: #222222;
}
/* 复制页脚 */
.footer {
	width: 100%;
}

.footer .footer-top {
	width: 100%;
	/* height: 300px; */
	background-color: white;
}

.footer .footer-top .container {
	height: 100%;
}

.footer .footer-top .container .service {
	width: 100%;
	height: 79px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	padding: 27px 0;
}

.footer .footer-top .container .service>ul {
	height: 25px;
}

.footer .footer-top .container .service>ul>li {
	width: 234px;
	height: 25px;
	border-right: 1px solid #ccc;
	line-height: 25px;
	text-align: center;
	float: left;
}

.footer .footer-top .container .service>ul>li:last-child {
	border-right: 1px solid white;
}

.footer .footer-top .container .service>ul>li>a {
	height: 25px;
	font-size: 16px;
	color: #616161;
	display: inline-block;
	/* text-align: center; */
}
.footer .footer-top .container .service>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .service>ul>li>a>span {
	font-size: 20px;
	margin-right: 5px;
}

.footer .footer-top .container .links {
	width: 100%;
	height: 200px;
}

.footer .footer-top .container .links>ul {
	width: 156.5px;
	height: 100%;
	box-sizing: border-box;
	padding: 30px 0;
	float: left;
}

.footer .footer-top .container .links>ul>li {
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}

.footer .footer-top .container .links>ul>li:first-child {
	margin-bottom: 20px;
}

.footer .footer-top .container .links>ul>li>a {
	font-size: 12px;
	color: #757575;
}
.footer .footer-top .container .links>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .links .tel {
	width: calc(100% - 959px);
	height: 140px;
	float: left;
	margin-top: 30px;
	border-left: 1px solid #ccc;
	text-align: center;
}

.footer .footer-top .container .links .tel .phone {
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 10px;
}

.footer .footer-top .container .links .tel .date {
	font-size: 12px;
	margin-bottom: 20px;
}

.footer .footer-top .container .links .tel>a {
	width: 119px;
	height: 29px;
	color: #ff6700;
	display: inline-block;
	border: 1px solid #ff6700;
	text-align: center;
	line-height: 29px;
}

.footer .footer-top .container .links .tel>a>span {
	font-size: 10px;
	color: #ff6700;
	margin-right: 5px;
}

.footer .footer-bottom {
	width: 100%;
	height: 230px;
	background-color: #FAFAFA;
	box-sizing: border-box;
	padding: 20px 0;
}

.footer .footer-bottom .container {
	height: 100%;
}

.footer .footer-bottom .container .mi-logo {
	width: 60px;
	height: 60px;
	float: left;
	background-color: #ff6700;
}

.footer .footer-bottom .container .mi-logo>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 0;
}
.footer .footer-bottom .container .footer-text {
	width: calc(100% - 60px);
	height: 80px;
	margin-left: 60px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .footer-text>p>a {
	display: inline-block;
	color: #757575;
	font-size: 12px;
}
.footer .footer-bottom .container .footer-text>p>a:hover{
	color: #ff6700;
}
.footer .footer-bottom .container .shangbiao {
	width: calc(100% - 60px);
	height: 30px;
	margin-left: 60px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .shangbiao>a>img {
	width: 85px;
	height: 28px;
}

.footer .footer-bottom .container .slogan {
	margin-top: 30px;
	text-align: center;
	height: 20px;
	font-size: 18px;
	color: #ccc;
}

/* 复制页脚 */
/* 复制页脚 */