@charset "utf-8";

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}
/* 复制页头 */
.header {
	width: 100%;
	background-color: #333;
}

.header .container {
	height: 50px;
}

.header .container .left {
	height: 100%;
	float: left;
}

.header .container .left>ul {
	height: 100%;
}

.header .container .left>ul>li {
	height: 100%;
	float: left;
}

.header .container .left>ul>li:nth-child(11) {
	position: relative;
}

.header .container .left>ul>li:nth-child(11)>a:nth-child(3) {
	display: inline-block;
	width: 120px;
	height: 120px;
	text-align: center;
	border: 1px solid #ccc;
	border-top: 0;
	background-color: white;
	padding: 10px;
	position: absolute;
	top: 50px;
	left: -50px;
	z-index: 10;
	display: none;
}

.header .container .left>ul>li:nth-child(11)>dl {
	width: 100%;
	text-align: center;
	/* height: 120px; */

}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:first-child {
	width: 90px;
	height: 90px;
	margin-left: 15px;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd:last-child {
	/* width: 90px; */
	height: 20px;
	color: #333;
}

.header .container .left>ul>li:nth-child(11)>a>dl>dd>img {
	width: 90px;
	height: 90px;
}

.header .container .clearfix>li>a {
	height: 100%;
	line-height: 50px;
	display: inline-block;
	color: #b0b0b0;
	font-size: 12px;
	margin-right: 5px;
}

.header .container .left>ul>li>a {
	margin-left: 5px;
}

.header .container .clearfix>li:first-child>a {
	margin-left: 0;
}

.header .container .clearfix>li>a:last-child {
	margin-right: 0;
}

.header .container .clearfix>li>span {
	color: #4a4a4a;
}

.header .container .center {
	height: 100%;
	margin-left: 20%;
	float: left;
}

.header .container .center>ul {
	height: 100%;
}

.header .container .center>ul>li {
	height: 100%;
	float: left;
}

.header .container .center>ul>li>a {
	margin-left: 5px;
}

.header .container .right {
	height: 100%;
	width: 120px;
	text-align: center;
	background-color: #424242;
	float: right;
	position: relative;
}

.header .container .right>span {
	font-size: 15px;
	display: inline-block;
	line-height: 50px;
	height: 100%;
}

.header .container .right .xiala {
	width: 340px;
	height: 98px;
	background-color: white;
	text-align: center;
	line-height: 98px;
	box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 0;
	display: none;
}
.neirong a:hover{
	color:#ff6700;
}
/* menu 菜单 */
.menu {
	width: 100%;
}

.menu .container {
	height: 100px;
}

.menu .container .logo {
	width: 60px;
	height: 60px;
	margin-top: 20px;
	background-color: #ff6700;
	text-align: center;
	float: left;
}

.menu .container .logo>a {
	width: 60px;
	height: 60px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 5px;
}
/* fuzhij */
/* 全部商品分类 */
.menu .container .neirong {
	/* width: calc(100% - 360px); */
	height: 100%;
	float: left;
	/* position: relative; */
}

.menu .container .neirong .all{
	position: absolute;
	color: #333;
	font-size: 16px;
	top: 50px;
	left: 14%;
	z-index: 100;
	/* line-height: 100px; */
}

.menu .container .neirong .all .xinjia{
	display: inline-block;
	height: 100px;
	line-height: 100px;
}






/* .banner {
	width: 100%;
}

.banner .container {
	height: 460px;
	position: relative;
} */

.all .left {
	width: 234px;
	height: 100%;
	background-color: #fff;
	border: 1px solid #FF6700;
	/* float: left; */
	margin-top: 0px;
	margin-left: -127px;
	display: none;
}

.all .left>ul {
	height: 100%;
	box-sizing: border-box;
	padding: 20px 0;
}

.all .left>ul>li {
	height: 42px;
	position: relative;
}

.all .left>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 42px;
	font-size: 14px;
	margin-left: 20px;
	/* margin-right: 50% ; */
	color: #666;
}

.all .left>ul>li>span {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 9px;
	right: 0;
}

.all .youla {
	width: 986px;
	height: 460px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	left: 237px;
	z-index: 10;
	display: none;
}

.all .nav1 {
	width: 965px;
	margin-top: -20px;
}

.all .nav2 {
	width: 965px;
	margin-top: -65px;
}

.all .nav3 {
	width: 530px;
	height: 460px;
	margin-top: -104px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav4 {
	width: 965px;
	margin-top: -146px;
}

.all .nav5 {
	width: 530px;
	height: 460px;
	margin-top: -188px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav6 {
	width: 530px;
	height: 460px;
	margin-top: -230px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav7 {
	width: 770px;
	height: 460px;
	margin-top: -274px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav8 {
	width: 965px;
	margin-top: -314px;
}

.all .nav9 {
	width: 530px;
	height: 460px;
	margin-top: -356px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}

.all .nav10 {
	width: 965px;
	margin-top: -398px;
}

.all .youla>ul {
	width: 240px;
	height: 100%;
	float: left;
}

.all .youla>ul>li {
	width: 100%;
	height: 16.66%;
}

.all .youla>ul>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 18px 0;
}

.all .youla>ul>li>a>p>img {
	width: 40px;
	height: 40px;
}




.menu .container .neirong>ul {
	height: 100%;
}

.menu .container .neirong>ul>li:first-child {
	margin-left: 180px;
}

.menu .container .neirong>ul>li {
	height: 100%;
	margin-right: 20px;
	float: left;
}

.menu .container .neirong>ul>li>a {
	display: inline-block;
	height: 100%;
	line-height: 100px;
	font-size: 16px;
	color: #333;
}

.menu .container .search {
	margin-top: 25px;
	display: flex;
	float: right;
	position: relative;
	width: 300px;
	height: 50px;
	border: 1px solid #e0e0e0;
}
.menu .container .search .search-commend{
	width: 249px;
	height: 299px;
	background-color: white;
	position: absolute;
	top: 51px;
	left: -1px;
	z-index: 20;
	border: 1px solid #ff6700;
	border-top: 0;
	display: none;
}
.menu .container .search .search-commend>ul{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.menu .container .search .search-commend>ul>li{
	width: 100%;
	height: 30px;
}
.menu .container .search .search-commend>ul>li>a{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
}
.menu .container .search .search-commend>ul>li>a:hover{
	color: #333;
}
.menu .container .search>.search-text { 
	flex-grow: 1;
	border: none;
	outline: none;
	}
.menu .container .search>.search-hot {
	position: absolute;
	right:60px;
	top: 50%;
	transform: translateY(-50%);
}
.menu .container .search>.search-hot>a{
	display: inline-block;
	background-color: #ccc;
}
.menu .container .search>.search-button {
	width: 50px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.menu .container .search.focus { border-color: #ff6700; }
.menu .container .search.focus>.search-hot { display:none; }
.menu .container .search.focus>.search-button { border-left-color: #ff6700;}
/* menu-nav */
.yincang {
	width: 100%;
	background-color: white;
	box-shadow: 0 5px 5px rgba(200, 200, 200, 0.5);
	/* border-top: 1px solid #ccc; */
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 20;
	display: none;
}

.yincang .container {
	height: 230px;
}

.yincang .container .box {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
	box-sizing: border-box;
	padding: 0 60px;
	display: flex;
	justify-content: space-around;
}

.yincang .container .box .ite {
	width: 16.7%;
	height: 100%;
}

.yincang .container .box .ite .new {
	width: 58px;
	height: 18px;
	border: 1px solid #ff6700;
	text-align: center;
	margin-left: 60px;
}

.yincang .container .box .ite:nth-child(1) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(2) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(3) .new {
	margin-top: -1px;
}

.yincang .container .box .ite:nth-child(4) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(5) .new {
	border: 0;
}

.yincang .container .box .ite:nth-child(6) .new {
	border: 0;
}

.yincang .container .box .ite .new>p {
	font-size: 12px;
	color: #ff6700;
}

.yincang .container .box .ite .img {
	height: 110px;
	margin: 20px 0;
	text-align: center;
}

.yincang .container .box .ite .img>a {
	display: inline-block;
	height: 100%;
}

.yincang .container .box .ite .img>a>img {
	width: 159px;
	height: 110px;
	border-right: 1px solid #ccc;
}

.yincang .container .box .ite .price {
	height: 60px;
	text-align: center;
}

.yincang .container .box .ite .price .name>a {
	font-size: 12px;
	color: #333;
	margin-bottom: 5px;
}

.yincang .container .box .ite .price .number {
	font-size: 12px;
	color: #ff6700;
}
/* a:hover{
	color: #ff6700;
} */
/* 复制页头 */
/* 复制页头 */

.full {
	min-width: 1200px;
}

.address-header {
	height: 42px;
	background-color: #F5F5F5;
}

.address-header .container>div {
	line-height: 42px;
	color: #616161;
	font-size: 12px;
}

.address-body {
	height: 1028px;
	background-color: #F5F5F5;
}

.address-body .container .body-left {
	float: left;
	width: 20%;
	height: 988px;
	background-color: white;
}

.address-body .container .body-left .left-dingdanzhongxin {
	width: 100%;
	text-align: center;
}

.address-body .container .body-left .left-gerenzhongxin {
	width: 100%;
	text-align: center;
}

/* .user-body .container .body-left .left-dingdanzhongxin */
.body-left ul {
	margin-left: 20%;
	margin-top: 40px;
	width: 40%;
	text-align: left;
}

/* .user-body .container .body-left .left-dingdanzhongxin */
.body-left ul li {
	margin-bottom: 15px;
	font-size: 14px;
	color: #333;
}

/* .user-body .container .body-left .left-dingdanzhongxin */
.body-left ul li:first-child a {
	font-size: 16px;
	color: #333;
	line-height: 40px;
}

ul li a:hover {
	color: #333;
}

a:hover {
	color: #333;
}

.address-body .container .body-left .left-gerenzhongxin ul {
	margin-top: 20px;
}

.address-body .container .body-left .left-gerenzhongxin ul li:last-child a {
	color: #FF6700;
}

.address-body .container .body-left .left-shouhoufuwu ul {
	margin-top: 20px;
}

.address-body .container .body-left .left-zhanghuguanli ul {
	margin-top: 20px;
}

.address-body .container .body-right {
	float: right;
	width: 79%;
	height: 370px;
	background-color: white;

}

.body-right>p {
	font-size: 30px;
	color: #757575;
	margin-top: 50px;
	margin-left: 50px;
}

.body-box {
	width: 270px;
	height: 180px;
	border: 1px solid #E0E0E0;
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
	transition: all 1s;
}

.body-box:hover {
	border: 1px solid #757575;
}

.box-cricle {
	width: 30px;
	height: 30px;
	background-color: #E0E0E0;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 25%;
	transition: all 1s;

}

.box-cricle:hover {
	background-color: #757575;
}

.box-cricle span {
	display: inline-block;
	margin-top: 2px;
	font-size: 25px;
	color: white;
}

.body-box>p {
	color: #b0b0b0;
	font-size: 14px;
	margin-top: 10px;
	transition: all 1s;
}

.body-box>p:hover {
	color: #757575;
}

.a {
	background-color: #000000;
	color: red;
}

.address-heimu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
	display: none;
	overflow: hidden;
}

.heimu-b {
	width: 660px;
	height: 465px;
	background-color: white;
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -330px;
	/* display: none; */
}

.heimu-b .b-header {
	width: 100%;
	height: 58px;
	background-color: #F5F5F5;
}

.heimu-b .b-header>p {
	font-size: 18px;
	font-weight: 400;
	line-height: 58px;
	color: #424242;
	margin-left: 23px;
	float: left;
}

.heimu-b .b-header>div {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 23px;
	margin-top: 13px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all 1s;
}

.heimu-b .b-header>div:hover {
	background-color: #ff6700;
	color: white;
}

.b-body {
	width: 580px;
	height: 280px;
	margin-left: calc((100% - 580px) / 2);
	margin-top: 40px
}

.b-body>form>input {
	height: 41px;
	width: 280px;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	cursor: pointer;
}

/* span */
.b-body>form {
	position: relative;
}

.b-body>form .s {
	text-align: left;
	display: inline-block;
	width: 100px;
	box-sizing: border-box;
	font-size: 14px;
	background-color: pink;
}

.b-body>form .s1 {
	position: absolute;
	top: 13px;
	left: 11px;
	background-color: white;
}

.b-body>form .s2 {
	position: absolute;
	top: 13px;
	left: 301px;
	background-color: white;
}

.b-body>form .s4 {
	position: absolute;
	top: 120px;
	left: 11px;
	width: 200px;
	background-color: white;
}

.b-body>form .s5 {
	position: absolute;
	top: 240px;
	left: 11px;
	width: 100px;
	background-color: white;
}

.b-body>form .s6 {
	position: absolute;
	top: 240px;
	left: 300px;
	width: 150px;
	background-color: white;
}
.b-body>form .select{
	position: absolute;
	top: 97px;
	width: 567px;
	background-color: white;
	text-align: left;
	display: none;
}
.b-body>form .select select{
	height: 50px;
	width: 400px;
}
.dakan{
	display: block !important;
}
.b-body>form .select>div{
	 display: inline-block; 
	font-size: 10px;
	margin-left:120px;
}

/* span */
.b-body>form>input:nth-child(2) {
	margin-left: 8px;
}

.b-body>form .f22 {
	margin-left: 8px !important;
}

.chajian {
	width: 570px !important;
	height: 41px;
	border: 1px solid #A9A9A9;
	margin-top: 15px;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;

}


textarea {
	display: inline-block;
	margin-top: 15px;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	cursor: pointer;
}

.f2 {
	margin-top: 15px;
}

.b-footer {
	width: 100%;
	height: 80px;
	background-color: #F5F5F5;
	margin-top: 6px;
	text-align: center;

}

.b-footer button {
	width: 160px;
	height: 40px;
	margin-top: 20px;
	border: 0;
	font-size: 14px;
	color: white;

}

.b-footer button:first-child {
	background-color: #ff6700;
}

.b-footer button:last-child {
	margin-left: 10px;
	background-color: #b0b0b0;
}
/* 复制页脚 */
.footer {
	width: 100%;
}

.footer .footer-top {
	width: 100%;
	/* height: 300px; */
	background-color: white;
}

.footer .footer-top .container {
	height: 100%;
}

.footer .footer-top .container .service {
	width: 100%;
	height: 79px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	padding: 27px 0;
}

.footer .footer-top .container .service>ul {
	height: 25px;
}

.footer .footer-top .container .service>ul>li {
	width: 234px;
	height: 25px;
	border-right: 1px solid #ccc;
	line-height: 25px;
	text-align: center;
	float: left;
}

.footer .footer-top .container .service>ul>li:last-child {
	border-right: 1px solid white;
}

.footer .footer-top .container .service>ul>li>a {
	height: 25px;
	font-size: 16px;
	color: #616161;
	display: inline-block;
	/* text-align: center; */
}
.footer .footer-top .container .service>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .service>ul>li>a>span {
	font-size: 20px;
	margin-right: 5px;
}

.footer .footer-top .container .links {
	width: 100%;
	height: 200px;
}

.footer .footer-top .container .links>ul {
	width: 156.5px;
	height: 100%;
	box-sizing: border-box;
	padding: 30px 0;
	float: left;
}

.footer .footer-top .container .links>ul>li {
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}

.footer .footer-top .container .links>ul>li:first-child {
	margin-bottom: 20px;
}

.footer .footer-top .container .links>ul>li>a {
	font-size: 12px;
	color: #757575;
}
.footer .footer-top .container .links>ul>li>a:hover{
	color: #ff6700;
}
.footer .footer-top .container .links .tel {
	width: calc(100% - 959px);
	height: 140px;
	float: left;
	margin-top: 30px;
	border-left: 1px solid #ccc;
	text-align: center;
}

.footer .footer-top .container .links .tel .phone {
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 10px;
}

.footer .footer-top .container .links .tel .date {
	font-size: 12px;
	margin-bottom: 20px;
}

.footer .footer-top .container .links .tel>a {
	width: 119px;
	height: 29px;
	color: #ff6700;
	display: inline-block;
	border: 1px solid #ff6700;
	text-align: center;
	line-height: 29px;
}

.footer .footer-top .container .links .tel>a>span {
	font-size: 10px;
	color: #ff6700;
	margin-right: 5px;
}

.footer .footer-bottom {
	width: 100%;
	height: 230px;
	background-color: #FAFAFA;
	box-sizing: border-box;
	padding: 20px 0;
}

.footer .footer-bottom .container {
	height: 100%;
}

.footer .footer-bottom .container .mi-logo {
	width: 60px;
	height: 60px;
	float: left;
	background-color: #ff6700;
}

.footer .footer-bottom .container .mi-logo>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 0;
}
.footer .footer-bottom .container .footer-text {
	width: calc(100% - 60px);
	height: 80px;
	margin-left: 60px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .footer-text>p>a {
	display: inline-block;
	color: #757575;
	font-size: 12px;
}
.footer .footer-bottom .container .footer-text>p>a:hover{
	color: #ff6700;
}
.footer .footer-bottom .container .shangbiao {
	width: calc(100% - 60px);
	height: 30px;
	margin-left: 60px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 5px;
}

.footer .footer-bottom .container .shangbiao>a>img {
	width: 85px;
	height: 28px;
}

.footer .footer-bottom .container .slogan {
	margin-top: 30px;
	text-align: center;
	height: 20px;
	font-size: 18px;
	color: #ccc;
}

/* 复制页脚 */
select{
	border: 0;
}