ul.nav {
	height: 1rem;
	display: flex;
}
ul.nav>li {
	width: 20%;
	display: flex;
}
ul.nav>li>a {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul.nav>li>a>i {
	width: 0.48rem;
	height: 0.48rem;
	background-image: url(./nav_bg.png);
	background-size: 100% 1000%;
}
ul.nav>li:nth-child(1)>a>i { background-position: 0 0;}
ul.nav>li:nth-child(2)>a>i { background-position: 0 -0.96rem;}
ul.nav>li:nth-child(3)>a>i { background-position: 0 -1.92rem;}
ul.nav>li:nth-child(4)>a>i { background-position: 0 -2.88rem;}
ul.nav>li:nth-child(5)>a>i { background-position: 0 -3.84rem;}
ul.nav>li:nth-child(1)>a.active>i { background-position: 0 -0.48rem;}
ul.nav>li:nth-child(2)>a.active>i { background-position: 0 -1.44rem;}
ul.nav>li:nth-child(3)>a.active>i { background-position: 0 -2.4rem;}
ul.nav>li:nth-child(4)>a.active>i { background-position: 0 -3.36rem;}
ul.nav>li:nth-child(5)>a.active>i { background-position: 0 -4.32rem;}
ul.nav>li>a>span {
	color: #7f7f7f;
	margin-top: 0.08rem;
}