.page-wrapper {
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	overflow: auto;
}
/* 页头开始 */
.header {
	background: url(images/background.png) no-repeat;
	background-size: cover;
	padding: 0.1rem 0.3rem;
}
.header>.header-top {
	display: flex;
	height: 1rem;
}
.header>.header-top>* {
	color: white;
	line-height: 1rem;
}
.header>.header-top>a.back {
	flex-shrink: 0;
	width: 1rem;
	font-size: 0.38rem;
}
.header>.header-top>h1.title {
	flex-grow: 1;
	font-weight: normal;
	font-size: 0.34rem;
	text-align: center;
}
.header>.header-top>button.btn-edit {
	flex-shrink: 0;
	width: 1rem;
	border: 0;
	outline: none;
	background-color: transparent;
	font-size: 0.26rem;
}
.header>.header-top>button.btn-edit.hide {
	visibility: hidden;
}
.header>.header-bottom {
	display: flex;
	padding: 0.2rem 0;
}
.header>.header-bottom.hide {
	display: none;
}
.header>.header-bottom.show {
	display: block;
}
.header>.header-bottom>* {
	color: white;
}
.header>.header-bottom>img {
	flex-shrink: 0;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}
.header>.header-bottom>.user {
	flex-grow: 1;
	margin-left: 0.2rem;
}
.header>.header-bottom>.user>p {
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
}
.header>.header-bottom>.user>span {
	font-size: 0.26rem;
	padding: 0.01rem 0.1rem;
	border-radius: 0.2rem;
	border: 1px solid #f3414a;
}
/* .header>.edit-login {
	display: flex;
	padding: 0.4rem 0;
}
.header>.edit-login>a {
	outline: none;
	flex-grow: 1;
	text-align: center;
}
.header>.edit-login>a>span {
	font-size: 0.4rem;
	color: white;
}
.header>.edit-login>a:first-child {
	border-right: 3px solid #fff;
} */
/* 页头结束 */
/* 我的订单 */
.order {
	background-color: white;
}
.order>.order-top {
	display: flex;
	justify-content: space-between;
	height: 1rem;
	box-sizing: border-box;
	padding: 0.2rem 0;
	margin: 0 0.3rem;
	border-bottom: 1px solid #ccc;
}
.order>.order-top>span {
	line-height: 0.6rem;
	font-size: 0.28rem;
}
.order>.order-top>span.personal-order {}
.order>.order-top>span.all-order {
	color: #999;
}
.order>.order-bottom {
	padding: 0.2rem 0.3rem;
}
.order>.order-bottom>ul {
	display: flex;
}
.order>.order-bottom>ul>li {
	flex-grow: 1;
}
.order>.order-bottom>ul>li>a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #666;
	outline: none;
}
.order>.order-bottom>ul>li>a>i {
	font-size: 0.5rem;
	margin-bottom: 0.2rem;
}
.order>.order-bottom>ul>li>a>span {}
.content {
	padding: 0 0.3rem;
	margin: 0.2rem 0;
	background-color: white;
}
/* 内容 */
.content>ul {}
.content>ul>li {
	height: 1rem;
	border-bottom: 1px solid #ccc;
}
.content>ul>li>a {
	display: flex;
	height: 100%;
	line-height: 1rem;
	justify-content: space-between;
	color: #333;
	font-size: 0.28rem;
}
.content>ul>li>a>span.amount,
.content>ul>li>a>span.new {
	color: #999;
}
/* 售后服务 */
.service {
	background-color: white;
}
.service>ul {}
.service>ul>li {
	height: 1rem;
	padding: 0 0.3rem;
	border-bottom: 1px solid #ccc;
}
.service>ul>li>a {
	display: inline-block;
	outline: none;
	height: 100%;
	line-height: 1rem;
	color: #333;
	font-size: 0.28rem;
}
/* 页脚 */
.footer {
	margin-top: 0.2rem;
	background-color: white;
}
.footer>ul {
	display: flex;
}
.footer>ul>li {
	flex-grow: 1;
	height: 1rem;
	padding: 0 0.3rem;
}
.footer>ul>li>a {
	outline: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 1rem;
	text-align: center;
	color: #333;
	font-size: 0.26rem;
}
/* 页脚结束 */
iframe {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1rem;
	font-size: 0;
	background-color: white;
}